* 
{
    box-sizing: border-box;
}

h1 
{
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 10px;
    font-size: 24px;
}

nav 
{
    display: inline-block;
    vertical-align: top;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    color: black;
    font-size: 18px;
}

nav ul li a:hover {
    color: #f0c040;
}
